# Hugo
.hugo_build.lock
public
services/amba-alerts*
artifacts/*/**
.vs/slnx.sqlite
.vs/azure-monitor-baseline-alerts-akp/v17/.wsuo
.vs/azure-monitor-baseline-alerts-akp/v17/workspaceFileList.bin
.vs/VSWorkspaceState.json
.vs/azure-monitor-baseline-alerts-akp/v17/DocumentLayout.json
